<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
  </settings>
  <sqlMaps>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.Hotel.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.BaseFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.HotelBaseFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.HotelRoomFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.HotelServiceFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.RoomFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.ServiceFacility.xml,AT.Crawler.Model"/>
    <sqlMap embedded="AT.Crawler.Model.SqlMap.Traffic.xml,AT.Crawler.Model"/>
  </sqlMaps>
</sqlMapConfig>
