<?xml version="1.0" encoding="utf-8"?>
<daoConfig  xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="ConfigFiles/providers.config"/>



  <context id="Crawler" isremote="1">
    <database>
      <provider name="MySql"/>
      <dataSource name="101" connectionString="Host=127.0.0.1;UserName=root;Password=123456;Database=test;Port=3306;CharSet=utf8;Allow Zero Datetime=true"/>
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="sqlMapConfigFile" value="ConfigFiles/CrawlerSqlMap.config" />
    </daoSessionHandler>
  </context>

</daoConfig>
