<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <!--redis_server:
  10.45.37.69:8901
  password:Nfn#kdfn4*39-->

  <Redis id="Tour" db="0" maxWritePoolSize="10" maxReadPoolSize="10">
    <!--client:password@host:port?key=value&key=value...-->
    <!--keys: db,ssl,client,password,namespaceprefix,connecttimeout,sendtimeout,receivetimeout,retrytimeout,idletimeout,idletimeoutsecs-->
    <node action="Write" value="10.6.11.20:6379,password=myredis"/>
    <node action="Read" value="10.6.11.20:6379,password=myredis"/>
  </Redis>
  <Redis id="HotelTour" db="1" maxWritePoolSize="10" maxReadPoolSize="10">
    <!--client:password@host:port?key=value&key=value...-->
    <!--keys: db,ssl,client,password,namespaceprefix,connecttimeout,sendtimeout,receivetimeout,retrytimeout,idletimeout,idletimeoutsecs-->
    <node action="Write" value="10.6.11.20:6379,password=myredis"/>
    <node action="Read" value="10.6.11.20:6379,password=myredis"/>
  </Redis>

  <Redis id="Common" db="0" maxWritePoolSize="10" maxReadPoolSize="10">
    <!--client:password@host:port?key=value&key=value...-->
    <!--keys: db,ssl,client,password,namespaceprefix,connecttimeout,sendtimeout,receivetimeout,retrytimeout,idletimeout,idletimeoutsecs-->
    <node action="Write" value="10.6.11.20:6379,password=myredis"/>
    <node action="Read" value="10.6.11.20:6379,password=myredis"/>
  </Redis>
</Root>